.container-content-dashboard{
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container-dashboard{
    display: flex;
    padding: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 70%;
    flex-direction: column;
    background-color: rgb(237, 236, 236);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.042);
}



.title-name-filter{
    color: rgba(0, 0, 0, 0.68);
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    margin-bottom: 5px;
}

.select-filter{
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.313);
    outline: none;
    background-color: #fff;
}

.container-info-numbers{
    display: flex;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    gap: 20px;
}

.container-resumes{
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.219);
    transition: 0.5s ease-in-out;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    flex-direction: column;
}

.title{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.total{
    color: black;
    font-weight: bold;
    font-size: 40px;
}

.graficoItens{
    width: 100%;
    height: 100%;
}

/* segundo container */
.container-info-grafics{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    gap: 20px;
}

/* gráficos */
.container-resumes-grafics{
    width: 50%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.265); 
    transition: 0.5s ease-in-out; 
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
}

/* Resolução para dispositivos Mobile  */
@media (max-width: 768px) {
  .container-content-dashboard {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .container-dashboard {
    width: 100%;
    padding: 20px;
    height: auto;
  }

 

  .container-info-numbers {
    flex-direction: column;
    align-items: stretch;
    height: auto;
    gap: 10px;
  }

  .container-resumes {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  .title {
    font-size: 16px;
  }

  .total {
    font-size: 24px;
  }

  .container-info-grafics {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }

  .container-resumes-grafics {
    width: 100%;
    height: 300px; /* você pode ajustar isso conforme o conteúdo do gráfico */
  }

  .graficoItens {
    width: 100%;
    height: 100%;
  }
}
