*{
    padding: 0;
    margin: 0;
    font-size: 18px;
}

html, body{
    height: 100%;
    width: 100%;
}

.container-content-itens{
    display: flex;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.container-header-itens{
    display: flex;
    padding: 10px 30px 10px 30px;
    text-align: right;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 10%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19);
}
#container-itens{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 90%;
}

/* estilização icone */
#icon-header-itens{
    height: 35px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#icon-header-itens:hover{
    opacity: 0.7;
}

/* Formulário de itens flutuante */
.container-form-itens{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.form-itens{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.header-form-itens-title{
    margin: 30px;
    font-size: 24px;
}

#form-itens{
    display: flex;
    padding: 30px;
    gap: 10px;
    text-align: left;
    background-color: rgba(238, 185, 185, 0.249);
    flex-direction: column;
    width: 50%;
}

input{
    border: none;
    outline: none;
}

#btn-add-product{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    border: none;
    color: white;
    background-color: rgba(3, 167, 3, 0.722);
}

/* Responsividade para Mobile */
@media (min-width: 320px) and (max-width: 769px){
    #form-itens{
        width: 100%;
        font-size: 18px;
    }
}